{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<section class="page-section bg-light" id="blog">
    <div class="container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center my-4">
                    <h2 class="section-heading text-uppercase">Topic of the week!</h2>
                </div>
            </div>
            
            <div class="edit-blog-container">
                <h2>Add a new blog post:</h2>
                <form action="{% url 'add_blog' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="global-table">
                        {{ blog_form }}
                    </table>
                    <button class="global-button" type="submit">Add Blog</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}