{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="page-section bg-light" id="blog">
    <div class="container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center my-4">
                    <h2 class="section-heading text-uppercase">Topic of the week!</h2>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Blog layout below adapted from: https://github.com/ZahraSadiq/Milestone4-PosterBay -->
                    <div class="col-md-8 mt-3 left">
                        {% for post in post_list %}
                        <a href="{% url 'post_detail' post.id %}"></a>
                        <div class="card mb-4 mt-2">
                            <!-- Blog Post Image Goes Here -->
                            <figure class="figure">
                                {% if "placeholder" in post.featured_image.url %}
                                <img src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_800/v1631294979/woman-with-spanner-back-pocket-jeans-overall_te9l11.jpg"
                                    class="figure-img img-fluid rounded" alt="{{ post.title }}">
                                {% else %}
                                <img class="figure-img img-fluid rounded" src="{{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </figure>
                            <!-- Blog Post Title & Blurb Go Here -->
                            <div class="card-body">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="card-text text-muted h6">{{ post.created_on}} | <i
                                                class="far fa-heart"></i> {{ post.like_count }} |
                                                {% with comments.count as total_comments %}
                                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                                    {{ total_comments }}</strong>
                                                {% endwith %}</p>
                                    </div>
                                </div>
                                <p class="card-text">{{post.content|slice:":200" }}</p>
                                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-black">Read More &rarr;</a>
                            </div>
                            <!-- Only display update/delete links if user is superuser -->
                            {% if request.user.is_superuser %}
                                <small class="ml-3 text-center">
                                    <a href="{% url 'edit_post' post.id %}">Edit</a> | 
                                    <a href="{% url 'delete_post' post.id %}" class="text-danger">Delete</a> |
                                    <a href="{% url 'add_post' %}">Add your blog post</a>
                                </small>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Sidebar Widgets Column tutorial -->
                    <div class="col-md-4 float-right ">
                        <div class="card my-4">
                            <h5 class="card-header" id="blog_post_header">Hey There, Welcome!</h5>
                            <div class="card-body" id="blog_post_widget">
                                <p class="card-text">Every week we a guest expert will post a new blog
                                    posts about all things new & old. Sometimes we'll go back into time
                                    & reveal excerpts from the lives of one of our featured artists,
                                    while other times catching you up on what's hot & trending. You can find it all
                                    here! <br> <br>So make sure to come back soon again to see what's up!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}