{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


<div class="page-section bg-light" id="blog">
    <div class="container">

        {% include "messages.html" %}

        <div class="row g-0">
            <div class="col-md-6 blog-masthead-text">

                <!-- Code below taken from Code Institute Blog tutorial -->
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 blog-masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_800/v1630174759/hammer-1629587_1920_bhedjp.jpg"
                    alt="picture" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <p class="card-text ">
                        {{ post.content | safe }}
                    </p>
                    <div class="row">
                        <div class="col-1">
                            <strong>
                                <a href="{% url 'like_post' post.id %}">
                                    {% if request.user.is_authenticated %}
                                        {% if liked %}
                                        <i class="fas fa-heart"></i>
                                        {% else %}
                                        <i class="far fa-heart"></i>
                                        {% endif %}
                                    {% else %}
                                    <i class="fas fa-heart"></i>
                                    {% endif %}
                                </a>
                                {{ post.like_count }}
                            </strong>
                        </div>
                        <div class="col-1">
                            {% with comments.count as total_comments %}
                            <strong><i class="far fa-comments"></i>
                                {{ total_comments }}</strong>
                            {% endwith %}
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <small class="ml-3 text-center">
                        <a href="{% url 'edit_post' post.id %}">Edit</a> |
                        <a href="{% url 'delete_post' post.id %}" class="text-danger">Delete</a>
                        <a href="{% url 'add_post' %}">Add your blog post</a>
                    </small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.user }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p class="mx-3 comment-notification">Please sign it to add a comment!</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}