{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full"
    style="background-image: url('https://res.cloudinary.com/mindthelights/image/upload/v1630174779/handywoman_ttl7hz.jpg')">
    <div class="text-center my-5">
        <p class="text-white-50 mb-0">We share, care and dare.</p>
        <h1 class="text-white fs-3 fw-bolder text-uppercase">HANDYWOMAN</h1>
    </div>
</header>

<!-- Alert Messages  -->
{% include "messages.html" %}
<!-- End Alert Messages  -->

<!-- Services section-->
<section class="py-5">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Services</h2>
                <p class="lead">We offer a wide range of services to meet the needs of every type of company.</p>
                <p class="mb-0">We offer a wide range of professional services to meet your needs. We strive to always
                    be positive in our work to ensure the highest level of satisfaction. All the services you need,
                    in a single point..</p>
                <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
            </div>
        </div>
    </div>
</section>

<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full"
    style="background-image: url('https://res.cloudinary.com/mindthelights/image/upload/v1631058866/handywoman2_tj5dhn.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>

<!-- Content here -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12 mb-4">
            <!-- About section-->
            <div class="container my-4">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>About</h2>
                        <p class="lead">We offer a wide range of services to meet the needs of every type of company.
                        </p>
                        <p class="mb-0">In this text area enter a paragraph to describe the service. Provide examples of
                            the service and specify to whom it is addressed. Describe the advantages of this group of
                            services, explaining to users the reasons why they should choose your company.</p>
                        <a href="{% url 'about' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <!-- Testimonials carousel code taken from: https://frontendor.com/blog/bootstrap-testimonial-slider-example/ -->
            <div class="bg-dark p-5 mx-auto mt-3 mb-3" style="max-width:600px;">
                <div id="carouselTestimonial" class="carousel carousel-testimonial slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item text-center active">
                            <div class="carousel-testimonial-img p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle"
                                    src="https://res.cloudinary.com/mindthelights/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1631354943/rosie_feg3ep.png"
                                    alt="First slide">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">SARA A. MORAN</strong>
                            </h5>
                            <h6 class="text-white m-0">Web Developer</h6>
                            <p class="text-white m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                eu sem
                                tempor,
                                consectetur adipiscing elit varius quam at</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="carousel-testimonial-img p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle"
                                    src="https://res.cloudinary.com/mindthelights/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1631354943/rosie_feg3ep.png"
                                    alt="Second slide">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">STEVE FONSI</strong></h5>
                            <h6 class="text-white m-0">Web Designer</h6>
                            <p class="text-white m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                eu sem
                                tempor,
                                consectetur adip varius quam at, luctus dui.
                            </p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="carousel-testimonial-img p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle"
                                    src="https://res.cloudinary.com/mindthelights/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1631354943/rosie_feg3ep.png"
                                    alt="Third slide">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">SANDRA M. GARCIA</strong>
                            </h5>
                            <h6 class="text-white m-0">Seo Analyst</h6>
                            <p class="text-white m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                eu sem
                                tempor, varius
                                quam at, consectetur adipiscing elit consectetur adipiscing elit luctus dui.</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselTestimonial" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselTestimonial" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}