{% extends "base.html" %}

{% load static %}

{% block content %}


<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">When bla blabla !</div>
        <div class="masthead-heading text-uppercase">HANDYWOMAN</div>
        <a class="btn btn-black btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header> 


<!-- services Grid-->
<section class="page-section bg-light" id="services">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>

    <div class="row text-center">

        <!-- Services section: -->
        <div class="col-lg-2 col-sm-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                    <a href="{% url 'services' %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Construction</h5>
                    <p class="card-text">
                        Construction or renovation..
                    </p>
                    <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                    <a href="{% url 'services' %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mechanichs</h5>
                    <p class="card-text">
                        Mechanics or industri
                    </p>
                    <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                    <a href="{% url 'services' %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Transport</h5>
                    <p class="card-text">
                        Moving or transportation
                    </p>
                    <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
                    <a href="{% url 'services' %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Webb</h5>
                    <p class="card-text">
                        Webb IT and design

                    </p>
                    <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6 mb-4 mb-sm-0">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/022.jpg" class="img-fluid" />
                    <a href="{% url 'services' %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Economics</h5>
                    <p class="card-text">
                        Economics or Law
                    </p>
                    <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-sm-6">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/035.jpg" class="img-fluid" />
                    <a href="{% url 'services' %}">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Other</h5>
                    <p class="card-text">
                        Other..
                    </p>
                    <a href="{% url 'services' %}" class="btn btn-black">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="index-page-img">
    <img class="img-fluid"
        src="https://res.cloudinary.com/mindthelights/image/upload/v1631058866/handywoman2_tj5dhn.jpg" alt="..." />
</div>

<!-- About grid: -->
<section class="page-section bg-light" id="about">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">About</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>

    <div class="row text-center">

        <!-- About section: -->
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Construction</h5>
                    <p class="card-text">
                        Construction or renovation..
                    </p>
                    <a href="#!" class="btn btn-black">Read</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mechanichs</h5>
                    <p class="card-text">
                        Mechanics or industri
                    </p>
                    <a href="#!" class="btn btn-black">Read</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Transport</h5>
                    <p class="card-text">
                        Moving or transportation
                    </p>
                    <a href="#!" class="btn btn-black">Read</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}