{% extends "base.html" %}

{% load static %}

{% block content %}

<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">When bla blabla !</div>
            <div class="masthead-heading text-uppercase">HANDYWOMAN</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>
    </div>
</header>

<!-- services Grid-->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>

        <div class="row">
            <!-- services item 1-->
            <div class="col-lg-2 col-sm-6 mb-4">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal1">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Threads</div>
                        <div class="services-caption-subheading text-muted">Illustration</div>
                    </div>
                </div>
            </div>

            <!-- services item 2-->
            <div class="col-lg-2 col-sm-6 mb-4">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal2">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Explore</div>
                        <div class="services-caption-subheading text-muted">Graphic Design</div>
                    </div>
                </div>
            </div>

            <!-- services item 3-->
            <div class="col-lg-2 col-sm-6 mb-4">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal3">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Finish</div>
                        <div class="services-caption-subheading text-muted">Identity</div>
                    </div>
                </div>
            </div>

            <!-- services item 4-->
            <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal4">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Lines</div>
                        <div class="services-caption-subheading text-muted">Branding</div>
                    </div>
                </div>
            </div>

            <!-- services item 5-->
            <div class="col-lg-2 col-sm-6 mb-4 mb-sm-0">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal5">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Southwest</div>
                        <div class="services-caption-subheading text-muted">Website Design</div>
                    </div>
                </div>
            </div>

            <!-- services item 6-->
            <div class="col-lg-2 col-sm-6">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal6">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Window</div>
                        <div class="services-caption-subheading text-muted">Photography</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="index-page-img">
    <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/v1631058866/handywoman2_tj5dhn.jpg" alt="..." />
</div>

<!-- About section -->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>

        <div class="row">
            <!-- About item 1-->
            <div class="col-lg-4 col-sm-6 mb-0">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal1">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Threads</div>
                        <div class="services-caption-subheading text-muted">Illustration</div>
                    </div>
                </div>
            </div>

            <!-- About item 2-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal2">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Explore</div>
                        <div class="services-caption-subheading text-muted">Graphic Design</div>
                    </div>
                </div>
            </div>

            <!-- About item 3-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="services-item">
                    <a class="services-link" data-bs-toggle="modal" href="#servicesModal3">
                        <div class="services-hover">
                            <div class="services-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/hammer-1629587_1920_bhedjp.jpg" alt="..." />
                    </a>
                    <div class="services-caption">
                        <div class="services-caption-heading">Finish</div>
                        <div class="services-caption-subheading text-muted">Identity</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>

    
{%endblock%}