{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- Code adapted from: https://bbbootstrap.com/snippets/simple-contact-form-74408136 and https://www.bootdey.com/snippets/view/contact-form-with-image#css -->
<div class="container">]
    <div class=" text-center mt-5 ">
        <h1>Contact Form</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="mt-4 home-img text-center">
                <img src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_450/v1630174760/pexels-los-muertos-crew-8447791_yyy9av.jpg" class="img-fluid" alt="">
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="custom-form mt-4">
                <div id="message"></div>
                    <form method="post" action="php/contact.php" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-lg-12 mb-0 p-0">
                                <div class="form-group">
                                    <label for="contact-lable">Name *</label>
                                    <input name="name" id="name" class="form-control" type="text" placeholder="Please enter your name *" required="required" data-error="Name is required.">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mb-0 p-0">
                                <div class="form-group">
                                    <label for="contact-lable">Email Address *</label>
                                    <input name="email" id="email" class="form-control" type="text" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mb-0 p-0">
                                <div class="form-group">
                                    <label for="contact-lable">Please specify your subject *</label>
                                    <select id="subject" name="subject" class="form-control" required="required" data-error="Please specify your need.">
                                        <option value="" selected disabled>--Select Subject--</option>
                                        <option>Request information</option>
                                        <option>Request a qoutation </option>
                                        <option>Request feedback</option>
                                        <option>Other</option>
                                    </select> 
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 mb-3 p-0">
                                <div class="form-group">
                                    <div class="form-check"> 
                                        <label for="form_check">Service Selection</label>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="handyService" id="id_handyService_1" value="Construction" >
                                            <label class="form-check-label" for="id_handyService_1">Construction / Renovation</label>  
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="handyService" id="id_handyService_2" value="Gardening" >
                                            <label class="form-check-label" for="id_handyService_2">Gardening</label>  
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="handyService" id="id_handyService_3" value="Transport" >
                                            <label class="form-check-label" for="id_handyService_3">Moving / Transport</label>  
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="handyService" id="id_handyService_4" value="Webb" >
                                            <label class="form-check-label" for="id_handyService_4">Webb / IT / Design</label>  
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="handyService" id="id_handyService_5" value="Economics" >
                                            <label class="form-check-label" for="id_handyService_5">Economics / Law</label>  
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="handyService" id="id_handyService_6" value="Others" >
                                            <label class="form-check-label" for="id_handyService_6">Others</label>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-0 p-0">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea name="message" id="form_message" placeholder="Write your message here." rows="5" class="form-control" required="required" data-error="Please, leave us a message."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input id="submit" name="send" class="btn btn-success btn-send pt-2 btn-block" value="Send Message" type="submit">
                                <div id="simple-msg"></div>
                            </div>
                        </div> 
                    </form>
            </div>
        </div>
    </div>
</div>


{%endblock%}