@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    height: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
}

.navbar {
	padding-left: 16px;
	padding-right: 16px;
}

.bg-dark {
    background: black !important;
}

.navbar .navbar-brand {
	padding-left: 0;
	font-size: 25px;
	padding-right: 50px;
}

.navbar-brand b {
	color: #0ab919;		
}

.navbar a {
	color: rgb(0, 0, 0);
	font-size: 15px;
}

.navbar .sign-up-btn {
	min-width: 100px;
	max-height: 35px;
}

.navbar a, .navbar a:active {
	color: #888;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}

.navbar .btn-primary, .navbar .btn-primary:active {
	color: #fff;
	background: #0ab919 !important;
	border: none;
}

.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
	color: #fff;
	background: #31bfb1 !important;
}

.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("https://res.cloudinary.com/mindthelights/image/upload/v1630174779/handywoman_ttl7hz.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.masthead .masthead-subheading {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 25px;
}

.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .masthead {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }

    .masthead .masthead-subheading {
      font-size: 2.25rem;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }

    .masthead .masthead-heading {
      font-size: 5.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
}


.page-section {
    padding: 6rem 0;
}

.page-section .section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
  
.page-section .section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 4rem;
}

/* Blog */

/* Blog */

#blog_post_header {
    color: #f8f9fa;
    background-color: #000;
}

/* Bootstrap Message Toasts - from Code Institute */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #fcb70f;
    color: #fff;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: white;
    color: #fcb70f !important;
    border: 1px solid #fcb70f;
}


/* Contact form */

body{margin-top:20px;}
.custom-form .form-control {
    height: 44px;
    font-size: 15px;
    padding-left: 15px;
    border-color: #e6eef6;
    color: #828f99;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-form .contact-lable {
    position: absolute;
    left: 27px;
    top: 7px;
    line-height: 20px;
    font-weight: 500;
    color: #828f99;
    background: #fbfdfe;
    margin: 0px;
    padding: 0px 7px;
    z-index: 1;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.custom-form .form-control {
    height: 44px;
    font-size: 15px;
    padding-left: 15px;
    border-color: #e6eef6;
    color: #828f99;
}
textarea.form-control {
    height: auto !important;
}

/*** Spin 2 ***/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

h1 {
    margin-bottom: 40px
}

label {
    color: #333
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card {
    margin-left: 10px;
    margin-right: 10px
}


/*

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}