{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
        </div>

        <!-- Alert Messages  -->
        {% include "messages.html" %}
        <!-- End Alert Messages  -->

        <div class="row text-center">

            <!-- Section below taken from: https://mdbootstrap.com/snippets/standard/mdbootstrap/2515504 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card" id="construction-card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/mindthelights/image/upload/v1630174760/builder-woman-talking-phone_qqqisf.jpg"
                            alt="picture" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Construction</h5>
                        <p class="card-text">
                            Specialist in construction, design, supply and installation. Interested in our services? We
                            are here to help you!
                            We want to know your needs precisely to be able to provide the perfect solution. Describe
                            your requests to us and we will do our best to help you.
                        </p>
                        <a href="{% url 'construction' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card" id="mechanics-card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/mindthelights/image/upload/v1631405714/portrait-female-mechanic-showing-thumbs-up_r4b012.jpg"
                            alt="picture" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Mechanics</h5>
                        <p class="card-text">
                            Specialist in construction, design, supply and installation. Interested in our services? We
                            are here to help you!
                            We want to know your needs precisely to be able to provide the perfect solution. Describe
                            your requests to us and we will do our best to help you.
                        </p>
                        <a href="{% url 'mechanics' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" id="logistic-card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/mindthelights/image/upload/v1631405714/female-factory-worker-reflective-uniform-with-hardhat-helmet-checking-new-arrival-goods-warehouse_k4t04d.jpg"
                            alt="picture" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Logistic</h5>
                        <p class="card-text">
                            Specialist in construction, design, supply and installation. Interested in our services? We
                            are here to help you!
                            We want to know your needs precisely to be able to provide the perfect solution. Describe
                            your requests to us and we will do our best to help you.
                        </p>
                        <a href="{% url 'logistic' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card" id="webb-card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/mindthelights/image/upload/c_scale,w_600/v1630174759/beautiful-female-office-worker-carrying-out-administrative-work-company_dw4rme.jpg"
                            alt="picture" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Webb</h5>
                        <p class="card-text">
                            Specialist in construction, design, supply and installation. Interested in our services? We
                            are here to help you!
                            We want to know your needs precisely to be able to provide the perfect solution. Describe
                            your requests to us and we will do our best to help you.
                        </p>
                        <a href="{% url 'webb' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" id="law-card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/mindthelights/image/upload/v1631060129/businesswoman-leader-modern-office-with-businesspeople-workin_tyuu52.jpg"
                            alt="picture" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Law</h5>
                        <p class="card-text">
                            Specialist in construction, design, supply and installation. Interested in our services? We
                            are here to help you!
                            We want to know your needs precisely to be able to provide the perfect solution. Describe
                            your requests to us and we will do our best to help you.
                        </p>
                        <a href="{% url 'law' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" id="other-card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/mindthelights/image/upload/v1631405716/woman-gardner-greenhouse_uppc2m.jpg"
                            alt="picture" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Other</h5>
                        <p class="card-text">
                            Specialist in construction, design, supply and installation. Interested in our services? We
                            are here to help you!
                            We want to know your needs precisely to be able to provide the perfect solution. Describe
                            your requests to us and we will do our best to help you.
                        </p>
                        <a href="{% url 'other' %}" class="btn btn-black">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}