{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="page-section bg-light" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
        </div>

        <!-- Alert Messages  -->
        {% include "messages.html" %}
        <!-- End Alert Messages  -->

        <div class="container">

            <!--About section: Content-->

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://res.cloudinary.com/mindthelights/image/upload/v1630174761/rugged-female-construction-workers-jobsite_rnpzpx.jpg"
                                alt="picture" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">This is us</h5>
                            <p class="card-text">
                                We have connected more than 500 corporate women and female entrepreneurs, and evolved
                                the name to Handywoman, where women are still the majority, but men feel welcome and
                                comfortable.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://res.cloudinary.com/mindthelights/image/upload/v1631406969/pexels-ivan-samkov-4491847_odlr6h.jpg"
                                alt="picture" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">What we do</h5>
                            <p class="card-text">
                                We network and connect women with other women. We do everything from small to big jobs
                                such as: making and repairing things in their houses, construction, mechanics, law,
                                logistic, webb and many other services.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://res.cloudinary.com/mindthelights/image/upload/v1631060129/portrait-female-factory-worker-leaning-metal-railings-industrial-production-hall_f5voem.jpg"
                                alt="picture" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Why we care</h5>
                            <p class="card-text">
                                We want to make a change in services where men is largely dominated. We
                                aim to build circles of trust with one another because we may be experiencing similar
                                hurdles. We belive that the way to overcome some of these hurdles is to form close
                                connections with other women, who can share experiences from women who have been there
                                and done that.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}